* {
    box-sizing: border-box;
    border: none;
}

html {
    scroll-behavior: smooth;
    font-family: $primary-font;
    color: $primary-color;
}

#app {
    padding: 1rem;
    background-color: #eee;
    min-height: 100vh;
}