$light-gray: #eee;
$gray: #ccc;
$medium-gray: #999;
$dark-gray: #333;
$white: #fff;
$lighter-gray: #f9f9f9;
$overlay: #33333399;


$primary-color: $dark-gray;
$secondary-color: $medium-gray;
$bg-color: $light-gray;