.v-view {
  max-width: 968px;
  width: 95%;
  margin: auto;
  padding: 1rem;
  min-height: 100vh;
  &__header {
    display: flex;
    justify-content: space-between;
    a {
      color: $primary-color;
      transition: 0.3s ease-in-out;
      &:hover {
        opacity: .5;
      }
    }
    span {
      position: relative;
      font-size: 30px;
      line-height: 0px;
      bottom: .1rem;
    }
  }

  @include desktop {
    background-color: $light-gray;
    flex-direction: row;
    margin: 5rem auto;
    padding: 1rem;
    position: relative;
    border-radius: .5rem;
    border: 1px solid $gray;
    min-height: auto;
    &__header {
      padding-bottom: 1rem;
    }
  }
}