.v-list {
  min-height: calc(100vh - 8rem);
  h2 {
    text-transform: uppercase;
    font-family: $secondary-font;
    text-align: center;
  }
  &__ul {
    padding: 0;
    overflow-y: auto;
    max-height: calc(100vh - 6rem);
    margin: 1rem 0;
    &__item {
      margin: .5rem 0;
      padding: 1rem;
      width: 100%;
      border-radius: 5px;
      border: 1px solid $gray;
      background-color: $lighter-gray;
      display: flex;
      justify-content: space-between;
      p {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        span {
          transition: 0.3s ease-in-out;
          padding: 5px 0;
        }
      }
      a {
        color: $primary-color;
        width: 100%;
        &:hover {
          span {
            opacity: 0.5;
          }
        }
      }
      button {
        width: 30px;
        height: 30px;
        margin: auto;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          opacity: 0.6;
        }
        span {
          font-size: 25px;
        }
      }
    }
  }
  &__empty {
    text-align: center;
    padding: 5rem;
    margin: auto;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  @include desktop {
    min-height: calc(100vh - 15rem);
    &__ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-height: calc(100vh - 18rem);
      padding-right: .5rem;
      &::-webkit-scrollbar {
        width: 5px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: $light-gray;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $gray;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background:$dark-gray;
      }
      &__item {
        width: calc(50% - 10px);
      }
    }
  }
}