.v-list-page {
  max-width: 968px;
  background-color: $light-gray;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include desktop {
    width: 95%;
    margin: 5rem auto;
    padding: 1rem;
    position: relative;
    border-radius: .5rem;
    border: 1px solid $gray;
    min-height: 300px;
    height: calc(100vh - 10rem);
    button {
      max-width: 20rem;
    }
  }
}