.v-editor-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 968px;
  width: 95%;
  margin: auto;
  background-color: $light-gray;
  padding: 1rem;
  min-height: 100vh;
  &.v-float-preview {
    padding-bottom: 15rem;
  }
  .v-modal-success__footer {
    flex-direction: column;
    a {
      width: 90%;
      max-width: 400px;
      margin-top: 1rem;
    }
  }
  @include desktop {
    flex-direction: row;
    margin: 5rem auto;
    padding: 1rem;
    position: relative;
    border-radius: .5rem;
    border: 1px solid $gray;
    min-height: auto;
    &.v-float-preview {
      padding-bottom: 1rem;
    }
  }
}