@include desktop {
  .v-editor {
    label[for="appIcon"] {
      div.v-mock-dragging {
        background-color: $light-gray;
        height: 4rem;
        &::after {
          content: 'Drop your file here!';
          text-transform: none;
          text-align: center;
          display: block;
          padding: .75rem;
        }
        .v-mock__input, .v-mock__btn {
          display: none;
        }
      }
    }
    .v-warning {
      position: relative;
      &::after {
        content: 'Please select only one file.';
        opacity: 1;
        bottom: -12px;
      }
    }
  }
}